<!DOCTYPE HTML>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="google-signin-scope" content="profile email">
    <meta name="google-signin-client_id"
        content="1073052617224-05tnssgr7picqgqu4kld7v0ggng4k1dk.apps.googleusercontent.com">
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <title>Multiroom Chat</title>

    <!-- bootstrap - link cdn -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
        integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

    <!-- estilo -->
    <link href="css/style.css" rel="stylesheet">
</head>

<body class="body">

    <div class="container">
        <div class="row vertical-offset-80">
            <div class="col-md-4 col-md-offset-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <div class="row-fluid user-row">
                            <img src="img/multiroom_chat_2.png" class="img-responsive" alt="Multiroom Chat" />
	<head>
		<meta charset="UTF-8">

		<title>Multiroom Chat</title>
		
		<!-- bootstrap - link cdn -->
		<link rel="stylesheet" href="css/bootstrap.min.css">
	
		<!-- estilo -->
		<link href="css/style.css" rel="stylesheet">
        <script>
            if ('serviceWorker' in navigator) {
                navigator.serviceWorker.register('../../sw.js')
                    .then(function () {
                        console.log('Service registrado')
                    })
                    .catch(function () {
                        console.log('Service falhou')
                    })
            }
        </script>
	</head>

	<title>Multiroom Chat</title>

	<!-- JQUERY -->
	<script src="js/jquery-2.2.1.js"></script>

	<!-- bootstrap - link cdn -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
		integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

	<!-- estilo -->
	<link href="css/style.css" rel="stylesheet">

	<script type="text/javascript">
		$(document).ready(function () {
			$("#exibe_chat").click(function () {
				$("#conversa").show();
				$("#participantes").hide();
				ocultaNavbar();
			});
			$("#exibe_participantes").click(function () {
				$("#participantes").show();
				$("#conversa").hide();
				ocultaNavbar();
			});
		});
		function ocultaNavbar() {
			$("#btn_navbar_toggle").attr("class", "navbar-toggle collapsed");
			$("#navbar-collapse-1").attr("class", "navbar-collapse collapse");
			$("#btn_navbar_toggle").attr("aria-expanded", "false");
			$("#navbar-collapse-1").attr("aria-expanded", "false");
		}
	</script>
</head>

<body>


	<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-1"
					id="btn_navbar_toggle">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#">Multiroom Chat</a>
			</div>


			<div class="collapse navbar-collapse" id="navbar-collapse-1">
				<ul class="nav navbar-nav">
					<li>
						<a href="#" id="exibe_chat">Chat</a>
					</li>
					<li>
						<a href="#" id="exibe_participantes">Participantes</a>
					</li>
				</ul>
			</div>
		</div>
	</nav>

	<div class="container">
		<div class="row conversa" id="conversa">
			<div class="col-md-1"></div>
			<div class="col-md-10" id="dialogos">
			</div>
			<div class="col-md-1"></div>

		</div>

		<div class="row participantes" id="participantes" style="display:none">
			<div class="col-md-1"></div>
			<div class="col-md-10" id="pessoas">
			</div>
			<div class="col-md-1"></div>

		</div>
	</div>

	<nav class="navbar navbar-default navbar-fixed-bottom" role="navigation">
		<div class="container">
            <div class="row vertical-offset-80">
                <div class="col-md-4 col-md-offset-4">
                    <div class="panel panel-default">
                    	<div class="panel-heading">                                
                            <div class="row-fluid user-row">
                                <img src="img/multiroom_chat_2.png" class="img-responsive" alt="Multiroom Chat"/>
                            </div>
                        </div>
                        <div class="panel-body">
                            <form accept-charset="UTF-8" role="form" class="form-signin" action="/chat" method="post">
                                <fieldset>
                                    <label class="panel-login">
                                        <div class="login_result"></div>
                                    </label>
                                    <input class="form-control" placeholder="Nome ou apelido" id="apelido" name="apelido" type="text">
                                    <br></br>
                                    <input class="btn btn-lg btn-success btn-block" type="submit" id="entrar" value="Entrar »">
                                </fieldset>
                            </form>
                        </div>
                    </div>
                    <div class="panel-body">
                        <form accept-charset="UTF-8" role="form" class="form-signin" action="/chat" method="post">
                            <fieldset>
                                <label class="panel-login">
                                    <div class="login_result"></div>
                                </label>
                                <input type="hidden" class="form-control" placeholder="Nome ou apelido" id="apelido"
                                    name="apelido" type="text">
                                <input type="hidden" class="form-control" placeholder="Nome ou apelido" id="imagem"
                                    name="imagem" type="text">
                                <br></br>
                                <input id='btnEntrar' class="btn btn-lg btn-success btn-block" type="submit"
                                    value="Entrar »">
                            </fieldset>
                        </form>
                    </div>
                    <div id="btnGoogle" class="g-signin2" data-onsuccess="onSignIn" data-theme="dark"></div>
                </div>

                <div>
                    <% if(validacao.errors.length> 0) {%>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="alert alert-danger">
                                    <strong>Atenção!</strong>
                                    <ul>
                                        <% for(var i=0; i < validacao.errors.length; i++) { %>
                                            <li>
                                                <%=validacao.errors[i].msg%>
                                            </li>
                                            <% } %>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <% } %>
                </div>
            </div>
        </div>
    </div>
    <script src="js/jquery-2.2.1.js"></script>
    <script>
        $(document).ready(function () {
            document.getElementById("btnEntrar").style.display = "none";

            setTimeout(function () {
                signOut()
                document.getElementById("apelido").value = ''
            }, 1000)
        });

        function onSignIn(googleUser) {
            // Useful data for your client-side scripts:
            var profile = googleUser.getBasicProfile();
            console.log("ID: " + profile.getId()); // Don't send this directly to your server!
            console.log('Full Name: ' + profile.getName());
            console.log('Given Name: ' + profile.getGivenName());
            console.log('Family Name: ' + profile.getFamilyName());
            console.log("Image URL: " + profile.getImageUrl());
            console.log("Email: " + profile.getEmail());

            // The ID token you need to pass to your backend:
            var id_token = googleUser.getAuthResponse().id_token;
            console.log("ID Token: " + id_token);
            document.getElementById("apelido").value = profile.getName()
            document.getElementById("imagem").value = profile.getImageUrl()
            document.getElementById("btnGoogle").style.display = "none";
            document.getElementById("btnEntrar").style.display = "";
        }
    </script>
    <script>
        function signOut() {
            var auth2 = gapi.auth2.getAuthInstance();
            auth2.signOut().then(function () {
                console.log('User signed out.');
            });
        }
    </script>
</body>

</html>